# Ignore GVIM swap and tmp files
*.swp
*~
# Ignore pycharm's .idea project settings folder
.idea/
# Ignore virtual environment
env/
# Ignore python caches
__pycache__/
# Ignore the OpenCV build directory
OpenCV/
# Ignore video data folder
videos
