# Ignore GVIM swap and tmp files
*.swp
*~
# Ignore pycharm's .idea project settings folder
.idea/
# Ignore virtual environment
env/
# Ignore python caches
__pycache__/
# Ignore the OpenCV build directory
OpenCV/
# Ignore video data folder
videos
# Ignore library folder (Compiled from CUDA/C sources in project)
lib/
# images? HA!
*.jpg
*.png
